@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background: #F7F7F7;
    --background-button: #2BB673;
    --background-button-hover: #137948;
}

html{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--background);
    height: 100vh;
}
div.header{
    margin: auto;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 25px;
    opacity: .8;
}
h2{
    font-weight: 600;
    opacity: .9;
}
p.content{
    font-size: 12px;
    width: 100%;
    text-align: justify;
    opacity: .8;
    margin-bottom: 8px;
}
div.paragrafos{
    padding: 0 15px;
    text-align: center;
}
input, label{
    text-indent: 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    margin: auto;
}
section form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-bottom: 5px;
    opacity: .8;
}
section form input{
    margin-left: 5px;
    margin-bottom: 20px;
    width: 270px;
    height: 40px;
    left: 32px;
    border-radius: 10px;
    padding-left: 15px;
    border: none;
}
section form input:hover{
    border: none;
    border-bottom: 3px solid green;
    transition: all .3s;
}
form img.user{
    transform: translate(-1100%, 190%);
}
form img.senha{
    transform: translate(-290%, 290%);
}
form img.email{
    transform: translate(-270%, 220%);
}
section form label{
    font-weight: bold;
}

form .submit{
    background-color: var(--background-button);
    color: #FFFFFF;
    cursor: pointer;
    border-left: 3px solid green;
}
form .submit:hover{
    background: var(--background-button-hover);
    transition: all .7s;
}
span.span_bold{
    font-weight: bold;
}
span a{
    color: black;
    cursor: pointer;
    font-weight: bold;
}
label img.seta_entrar{
    transform: translate(950%, 250%);
}