@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --background: #F7F7F7;
    --background-button: #2BB673;
    --background-button-hover: #137948;
}

html{
    background-color: #FFFFFF;
}
body{
    background-color: var(--background);
    height: 100vh;
}
div.header{
    margin: auto;
    padding-top: 40px;
    text-align: center;
}
h2{
    margin-left: -190px;
}
input, label{
    text-indent: 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    margin: auto;
}
section form{
    display: flex;
    flex-direction: column;
}
section form input{
    margin-left: 5px;
    margin-bottom: 20px;
    width: 270px;
    height: 40px;
    left: 32px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

section form input:focus{
    border: none;
    border-bottom: 3px solid green;
}

section form img{
    transform: translate(70%, 160%);
}

form img.senha{
    transform: translate(70%, 200%);
}
form img.email{
    transform: translate(70%, 160%);
}

section form label{
    font-weight: bold;
}
form .submit{
    background-color: var(--background-button);
    color: #FFFFFF;
    cursor: pointer;
    border-left: 3px solid green;
}
form .submit:hover{
    background: var(--background-button-hover);
    transition: all .7s;
}
span.span_bold{
    font-weight: bold;
}
span a{
    color: black;
    cursor: pointer;
}