@charset "utf-8";

:root{
    --background: #F7F7F7;
    --create-task: #2BB673;
    ---background-hover: #137948;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    margin: auto;
}

div.user{
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

div.user p{
    font-size: 14px;
}

div.user img{
    width: 20px;
}
button#create-task{
    background-color: var(--create-task);
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

button#create-task:hover{
    background-color: var(---background-hover);
}

div.create-task{

}
section div#accordion{
    width: 100%;
}
section div.urgentes{
    margin-bottom: 20px;
    width: 300px;
    background-color: var(--background
    );
}

section div#accordion p{
    width: 100%;
}

section div.pending_tasks{
    margin-bottom: 20px;
    background-color: var(--background
    );
}

section div.completed_tasks{
    background-color: var(--background
    );
}

section div.pending_tasks p{
    display: flex;
    justify-content: space-between;
}

section div p{
    font-size: 14px;
    width: 250px;
    text-indent: 22px;
}
section div{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background
    );
}
section ul{
    list-style-type: none;
}
section ul li{
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #fae9e9;
    box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.15);
    border-radius: 10px;
}

select{
    padding-left: 6px;
    background-color: #F7F7F7;
    border: none;
}

span{
    font-size: 10px;
    font-weight: 400;
}